<app-location-list></app-location-list>
<script src="build/runtime.5dc03ed946d447a9.js"></script>
<script src="build/polyfills.3d9e06c09e48a164.js"></script>
<script src="build/main.d378a61a88e0dae3.js"></script>

<!--
<h1>{{title}}</h1>
<div class="row">
  {{#each locations as |location|}}
    <div class="col-12 col-xxl-6">
      <div class="card mt-4">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h3 class="card-title mt-1 mb-1">{{location.name}}</h3>
              {{#each synonyms as |synonym|}}
                {{synonym}}{{#unless @last}},{{/unless}}
              {{/each}}
            </div>
            <div class="text-nowrap ps-3">{{{stars location.rating}}}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div><h6
                class="card-subtitle mb-1 text-muted"
              >{{location.type}}</h6>
              <p class="card-text">{{location.description}}</p></div>
            <div class="text-nowrap ps-3"><span
                class="badge rounded-pill text-bg-dark"
              >{{location.distance}}</span></div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{#each fields as |field|}}
            <span class="badge text-bg-secondary">{{field}}</span>
          {{/each}}
          {{#each keywords as |keyword|}}
            <span class="badge text-bg-dark">{{keyword}}</span>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<h1>{{title}}</h1>
<div class="row">
  {{#each events as |event|}}
    <div class="col-12 col-xxl-6">
      <div class="card mt-4">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h3 class="card-title mt-1 mb-1">{{location.name}}</h3>
              {{#each synonyms as |synonym|}}
                {{synonym}}{{#unless @last}},{{/unless}}
              {{/each}}
            </div>
            <div class="text-nowrap ps-3">{{{stars location.rating}}}</div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div><h6
                class="card-subtitle mb-1 text-muted"
              >{{location.type}}</h6>
              <p class="card-text">{{location.description}}</p></div>
            <div class="text-nowrap ps-3"><span
                class="badge rounded-pill text-bg-dark"
              >{{location.distance}}</span></div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{#each fields as |field|}}
            <span class="badge text-bg-secondary">{{field}}</span>
          {{/each}}
          {{#each keywords as |keyword|}}
            <span class="badge text-bg-dark">{{keyword}}</span>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

-->